@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mt-6 {
  margin-top: 48px;
}

.mb-10 {
  margin-bottom: 80px;
}

.me-1 {
  margin-right: 8px;
}

.bg-gray {
  background: #E0E0E0;
}

.bg-primary {
  background: #916000;
}

.text-primary {
  color: #916000;
}

.text-white {
  color: #ffffff;
}

/* 圖片垂直對齊該行文字的置中位置 */
.material-icons {
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: 128px;
  height: 38px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header .menu {
    display: none;
  }
}

.header .menu li a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  padding: 16px 0 16px 32px;
  color: #8D8D8D;
}

.header .navbar {
  display: none;
}

@media (max-width: 767px) {
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .navbar li a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  padding: 16px 0 16px 32px;
  color: #8D8D8D;
  position: relative;
}

.header .navbar li a em {
  background: #916000;
  border-radius: 7px;
  position: absolute;
  top: 15px;
  right: -3px;
  display: block;
  width: 16px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  font-size: 12px;
}

.header .dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
  background: #ffffff;
}

.header .dropdown li a {
  display: block;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  background: #707070;
  color: #ffffff;
  margin-bottom: 1px;
}

.header .dropdown li a:hover {
  background: #ffffff;
  color: #916000;
}

.header .dropdown.active {
  max-height: 336px;
}

.banner {
  background-image: url(../images/index1.jpg);
  height: 870px;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .banner {
    height: 480px;
    margin-bottom: 40px;
  }
}

.banner .banner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 870px;
}

@media (max-width: 767px) {
  .banner .banner-body {
    height: 480px;
  }
}

.banner .banner-body .banner-img-overlay {
  width: 445px;
}

.banner .banner-body .banner-img-overlay .banner-title {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}

.banner .banner-body .banner-img-overlay .banner-text {
  font-size: 24px;
  line-height: 36px;
}

.banner .banner-body .banner-img-overlay a {
  display: block;
  width: 350px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
}

.banner .banner-body .banner-img-overlay a:hover {
  background: #ffffff6e;
}

.information {
  margin-bottom: 60px;
  /* 消除 li 之間的空白問題 */
  font-size: 0;
}

@media (max-width: 767px) {
  .information {
    margin-bottom: 40px;
  }
}

.information .information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .information .information-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.information .information-item-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .information .information-item-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.information .information-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 110px;
}

@media (max-width: 767px) {
  .information .information-content {
    width: 100%;
    margin-bottom: 32px;
    padding: 0;
  }
}

.information .information-content h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.information .information-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.information .information-content a {
  font-size: 16px;
  line-height: 24px;
  color: #916000;
}

.information .information-img {
  width: 50%;
}

@media (max-width: 767px) {
  .information .information-img {
    width: 100%;
  }
}

.information .information-content-list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 92px 110px;
}

@media (max-width: 767px) {
  .information .information-content-list {
    width: 100%;
    padding: 0;
  }
}

.information .information-content-list h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.information .information-content-list p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 52px;
}

.information .information-content-list a {
  display: block;
  width: 350px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #000000;
  border-radius: 30px;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.information .information-content-list a:hover {
  background: #8d8d8d24;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    padding: 32px 15px;
  }
}

.product li {
  width: 350px;
}

@media (max-width: 767px) {
  .product li {
    width: 100%;
    margin-bottom: 32px;
  }
}

.product li .product-img {
  position: relative;
}

.product li .product-img img {
  height: 540px;
}

.product li .product-img span {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 540px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  line-height: 540px;
  text-align: center;
}

@media (max-width: 767px) {
  .product li .product-img span {
    width: 100%;
  }
}

.product li h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.product li .name {
  line-height: 24px;
}

.product li .price {
  line-height: 24px;
}

.product li .price span {
  text-decoration: line-through;
  margin-left: 8px;
  color: #8D8D8D;
  font-weight: lighter;
}

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .recommend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

.recommend .recommend-img {
  width: 730px;
}

@media (max-width: 767px) {
  .recommend .recommend-img {
    width: 100%;
  }
}

.recommend .recommend-content {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommend .recommend-content h2 {
  font-size: 32px;
  line-height: 48px;
}

.recommend .recommend-content span {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.recommend .recommend-content p {
  line-height: 24px;
  margin-bottom: 16px;
}

.recommend .recommend-content a {
  font-size: 16px;
  line-height: 24px;
  color: #916000;
}

.subscribe {
  background-image: url(../images/index10.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.subscribe .subscribe-body {
  padding-top: 321px;
}

.subscribe .subscribe-body label {
  font-size: 32px;
  line-height: 48px;
  color: #8D8D8D;
  display: block;
  margin-bottom: 20px;
}

.subscribe .subscribe-body .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .subscribe-body .input-group input {
  height: 60px;
  color: #8D8D8D;
  border: 2px solid #916000;
  padding-left: 16px;
  line-height: 24px;
}

.subscribe .subscribe-body .input-group .subscribe-btn {
  width: 131px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner .footer-text {
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
}

.footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-menu li a {
  display: block;
  padding: 28px 0 28px 18px;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .footer .footer-menu li a {
    display: none;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 82px;
}

@media (max-width: 767px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    margin-bottom: 106px;
  }
}

.login .login-img {
  width: 730px;
}

@media (max-width: 767px) {
  .login .login-img {
    width: 345px;
  }
}

.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .login form {
    margin-left: 0;
    margin-top: 28px;
  }
}

.login form .h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 12px;
}

.login form .form-group {
  margin-bottom: 20px;
}

.login form .form-group label {
  display: block;
  line-height: 22px;
  margin-bottom: 4px;
}

.login form .form-group input {
  display: block;
  width: 350px;
  height: 38px;
  line-height: 19px;
  padding-left: 12px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  color: #818A91;
}

@media (max-width: 767px) {
  .login form .form-group input {
    width: 345px;
  }
}

.login form .form-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login form .form-btn-group .forget-btn {
  display: block;
  line-height: 24px;
}

.login form .form-btn-group .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login form .form-btn-group .btn-group .register-btn {
  display: block;
  border: 1px solid #916000;
  border-radius: 3px;
  line-height: 22px;
  padding: 8px 16px 8px 17px;
  margin-left: 8px;
}

.login form .form-btn-group .btn-group .login-btn {
  display: block;
  border: 1px solid #916000;
  border-radius: 3px;
  line-height: 22px;
  padding: 8px 16px 8px 17px;
  margin-left: 8px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .category {
    display: none;
  }
}

.category li a {
  display: block;
  color: #ffffff;
  font-size: 20px;
  line-height: 52px;
  margin-right: 28px;
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.productList .productList-item {
  width: 255px;
  margin-bottom: 58px;
}

@media (max-width: 767px) {
  .productList .productList-item {
    width: 165px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
}

.productList .productList-item .productList-item-img img {
  width: 255px;
  height: 255px;
}

@media (max-width: 767px) {
  .productList .productList-item .productList-item-img img {
    width: 165px;
    height: 165px;
  }
}

.productList .productList-item h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.productList .productList-item .name {
  line-height: 24px;
}

.productList .productList-item .price {
  line-height: 24px;
  margin-bottom: 3px;
}

.productList .productList-item .price span {
  text-decoration: line-through;
  margin-left: 8px;
  color: #8D8D8D;
  font-weight: lighter;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .pagination {
    margin-bottom: 40px;
  }
}

.pagination li a {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  line-height: 30px;
}

.pagination li a.active {
  color: #916000;
  text-decoration: underline;
}

.product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .product-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.product-detail .product-detail-img {
  width: 730px;
}

@media (max-width: 767px) {
  .product-detail .product-detail-img {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .product-detail .product-detail-img .detail-img-top {
    display: none;
  }
}

.product-detail .product-detail-img .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

@media (max-width: 767px) {
  .product-detail .product-detail-img .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-detail .product-detail-img .img-group img {
  width: 350px;
}

@media (max-width: 767px) {
  .product-detail .product-detail-img .img-group .img-group-first {
    margin-bottom: 30px;
  }
}

.product-detail .product-detail-body {
  width: 350px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .product-detail .product-detail-body {
    width: 345px;
    margin-left: 0;
  }
}

.product-detail .product-detail-body .img-top {
  display: none;
}

@media (max-width: 767px) {
  .product-detail .product-detail-body .img-top {
    display: block;
  }
}

.product-detail .product-detail-body h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.product-detail .product-detail-body .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 8px;
}

.product-detail .product-detail-body .btn-group select {
  width: 160px;
  border: 1px solid #916000;
  border-radius: 4px 0px 0px 4px;
  padding-left: 16px;
}

.product-detail .product-detail-body .btn-group a {
  width: 190px;
  border: 2px solid #916000;
  border-radius: 0px 4px 4px 0px;
  line-height: 22px;
  text-align: center;
  padding: 14px 15px;
}

.product-detail .product-detail-body .info {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.product-detail .product-detail-body .info .h3 {
  font-weight: bold;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.member h2 {
  font-size: 20px;
  line-height: 30px;
  color: #848484;
}

.member-center {
  width: 190px;
}

@media (max-width: 767px) {
  .member-center {
    width: 350px;
    margin-bottom: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.member-center .m-none {
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .member-center .m-none {
    display: none;
  }
}

@media (max-width: 767px) {
  .member-center .member-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.member-center .member-menu a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  margin-bottom: 24px;
}

.member-center .member-menu a:hover {
  border-bottom: 1px solid #916000;
  color: #916000;
}

@media (max-width: 767px) {
  .member-center .member-menu a {
    margin-bottom: 0;
  }
}

.member-content {
  width: 635px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .member-content {
    width: 350px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.member-content h2 {
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #818A91;
  padding-bottom: 8px;
}

.member-content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 38px;
  color: #818A91;
  margin-bottom: 20px;
}

.member-content .form-group .form-label {
  width: 95px;
}

@media (max-width: 767px) {
  .member-content .form-group .form-label {
    width: 90px;
  }
}

.member-content .form-group .form-control {
  width: 350px;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .member-content .form-group .form-control {
    width: 255px;
  }
}

.member-content .form-group .form-control:-moz-read-only {
  border: none;
}

.member-content .form-group .form-control:read-only {
  border: none;
}

.member-content .form-group .form-select {
  width: 160px;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding-left: 10px;
  color: #818A91;
}

.member-content .form-group .form-select-sm {
  width: 59px;
  height: 38px;
}

.member-content .form-check {
  width: 350px;
  height: 38px;
  margin-top: 12px;
  position: relative;
}

.member-content .form-check .form-check-label {
  line-height: 24px;
  position: absolute;
  top: 0;
  left: 19px;
}

.member-content .form-check .form-check-label::before {
  content: "";
  position: absolute;
  top: 4.5px;
  left: -19px;
  width: 15px;
  height: 15px;
  border: 2px solid #CED4DA;
  border-radius: 3px;
}

.member-content .form-check .form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.member-content .form-check .form-check-input:checked + label::before {
  content: "\2714";
  border: none;
  background: #916000;
  color: #ffffff;
  font-size: 14px;
}

.member-content .form-group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .member-content .form-group2 {
    width: 255px;
  }
}

.member-content .form-group2 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member-content .submit-btn {
  display: block;
  border: 1px solid #916000;
  border-radius: 4px;
  font-size: 16px;
  line-height: 38px;
  width: 160px;
  height: 38px;
  text-align: center;
  margin-top: -4px;
  margin-left: 95px;
}

.member-info {
  width: 255px;
}

@media (max-width: 767px) {
  .member-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 40px;
  }
}

.member-info h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
}

.member-info .no {
  padding-left: 6px;
  font-size: 20px;
  line-height: 30px;
}

.member-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member-info .row .name {
  width: 95px;
  font-size: 16px;
  line-height: 24px;
  color: #818A91;
}

.member-info .row .number {
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  color: #818A91;
}

.member-info .remark {
  font-size: 14px;
  line-height: 21px;
  color: #A5A5A5;
}
/*# sourceMappingURL=all.css.map */